@import "nule.scss";
@import "mixins.scss";

html,body{
	height: 100%;
}

.wrapper {
	height: 100%;
}

.header {
	height: 100vh;
	padding: 0 20px;
	min-height: 800px; 
	background: url('https://i1.wallbox.ru/wallpapers/main/201320/253138c1bfe2d6a.jpg') center / cover;
}

.container {
	max-width: 941px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
	position: relative;
}

.header__menu {
	padding: 20px 0;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.808);
	width: 100%;
	height: 70px;
}

.menu__content{
	max-width: 1050px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
}

.header__logo{
	position: relative;
	z-index: 5;
}

.list__item {
	margin: 0 21px;
	&:hover{
		transform: scale(1.1);
		& a{color: #fed136;}
		transition: all 0.5s ease;
	}
}

.list__item a{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
}

.list__item:fist-child {
	margin-left: 0;
}

.list__item:last-child {
	margin-right: 0;
}

.header__content{
	width: 100%; 
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center
}

@import "burger.scss";

.header__title1 {
	color: #ffffff;
	@include adaptiv-font(40, 25);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-bottom: 50px;
}

.header__title2 {
	color: #ffffff;
	@include adaptiv-font(75, 35);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1.88px;
	margin-bottom: 50px;

}

.header__btn {
	padding: 25px 52px;
	background: #fed136;
	border: 2px solid #fed136;
	color: #3a3837;
	border-radius: 20px;
	@include adaptiv-font(18, 14);
	font-weight: 700;
	text-transform: uppercase;
	animation: blink 0.8s infinite ease;
}

.header__btn:hover {
	color: white;
	border: 2px solid white;
	transition: all 0.5s ease;
}

@keyframes blink {
	0%{box-shadow: 0 0 60px rgba(255,255,255,0.5);}
	50%{box-shadow: 0 0 20px rgba(255,255,255,0.5);}
	100%{box-shadow: 0 0 60px rgba(255,255,255,0.5);}
}

.title {
	color: #222222;
	@include adaptiv-font(40, 25);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.subtitle {
	color: #777777;
	@include adaptiv-font(16, 12);
	font-weight: 400;
}

.services__title {
	margin-bottom: 10px;
}

.services__subtitle {
	margin-bottom: 77px;
}


.services {
	padding: 118px 0;
	text-align: center;
}

@media (min-width: 1020px) {

	.services__flex {
	display: flex;
	margin: 0 -41px;
	}

	.services__item {
		margin-bottom: 0;
		padding: 0 41px;
	}

}

.services__item {
	display: flex;
	flex-direction: column;
 	margin-bottom: 20px;
	position: relative;
	&:first-child{opacity: 0;}
	&:last-child{opacity: 0;}
}

.services__item.animation{
	&:first-child{
		animation: move-right 1s ease;
		opacity: 1;
	}
	&:last-child{
		animation: move-left 1s ease;
		opacity: 1;
	}
}

.item__img {
	margin-bottom: 24px;
}
.item__title {
	margin-bottom: 18px;
	color: #222222;
	@include adaptiv-font(18, 15);
	font-weight: bold;
	letter-spacing: -0.45px;
}
.item__text {
	color: #777777;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
}

.portfolio {
	background: #f7f7f7;
	padding: 119px 0 134px;
}

.portfolio__title {
	margin-bottom: 20px;
}
.portfolio__subtitle {
	margin-bottom: 75px;
}

.portfolio__hover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	& a{
		padding: 20px 35px;
		color: white;
		text-transform: uppercase;
		background: black;
		border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.829);
	}
	background: rgba(0,0,0,0.3);
	opacity: 0;
}

.portfolio__img {
	position: relative;
	margin-bottom: 20px;
	&:hover{
		& .portfolio__hover{
			opacity: 1;
			transition: all 0.8s ease;
		}
	}
}


@media (min-width: 1050px){
	.portfolio__flex {
		display: flex;
		justify-content: center;
		margin: 0 -17px;
	}
	.portfolio__img {
		margin-bottom: 0;
		margin: 0 17px;
	}
}

.about {
	padding: 127px 0 5px;
}

.about.animation{
	& .grid__item{
		margin-bottom: 0px;
		opacity: 1;
		animation: move-right 1s ease;
		&:nth-child(even){animation: move-left 1s ease;}
	}
}

.about__title {
	margin-bottom: 20px;
}
.about__subtitle {
	margin-bottom: 77px;
}

.grid__item{
	margin-bottom: 50px;
}


@media (min-width: 700px) {
	.about__grid {
		display: grid;
		grid-template-columns: 1fr 183px 1fr;
		grid-template-rows: repeat(4,1fr);
		row-gap: 93px;
		column-gap: 38px;
	}

	.grid__text {
		text-align: right;
	}

	.grid__text:nth-child(even) {
		text-align: left;
	}

	.grid__img {
		grid-column-start: 2;
	   grid-column-end: 4;
	   text-align: left;
		&:nth-child(odd){
			grid-column-start: 1;
			grid-column-end: 3;
			text-align: right;
		}
	}
	
	.grid__item{
		margin-bottom: 0px;
		position: relative;
		opacity: 0;
		}
	}

@keyframes move-right {
	0%{left:-100%;}
	100%{left:0;}
}

@keyframes move-left {
	0%{right:-100%;}
	100%{right:0;}
}

.grid__title, .grid__subtitle {
	color: #222222;
	@include adaptiv-font(18, 15);
	font-weight: 700;
	letter-spacing: -0.45px;
	letter-spacing: -0.45px;
}

.grid__title{
	text-transform: uppercase;
}

.grid__subtitle {
	margin-bottom: 18px;
}

.grid__p {
	color: #777777;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
	}

.footer span{
	display: inline-block;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

@media (max-width: 500px){
	.services, .about, .portfolio {
		padding: 50px 0;
	}
}
